
<!DOCTYPE html>
<html>
  <head>
    <title>EcSite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
    <nav>
      <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>

      </div>
      <ul class="nav-links">
        <li><%= link_to "商品一覧", products_path %></li>
        <li><%= link_to "新規登録" %></li>
        <li><%= link_to "ログイン" %></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
